name: Building a docker Image with github actions 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Docker Setup Docker
      uses: docker/setup-docker-action@v4.5.0

    - name: Add docker to user group
      run: sudo usermod -aG docker $USER
    
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: sudo docker build . --file Dockerfile --tag mydjangoapp:$(date +%s)
 

